.image{
    width: 25%;
    border-radius: 60px;
    
    
}
.userName{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    
}
.message-box{
    width: 50%;
}
.form-control{
    border: 2px solid rgb(84, 82, 82);
}
.form{
    width: 100%;
}