.row{
    margin: auto;
}
.sidebar{
    background-color: #3FCA66;
    align-items: center;
    height: 789px;
    
   
}

.title{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 40px;
}
.card{
    width: 85%;
    padding: 5px;
}
.title-form{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.chek{
    margin-left: 180px;
    margin-top: 20px;
}
.btn-register{
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    border: 1px;
    background-color: #3FCA66;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}
.btn-register:hover{
    color: #3FCA66;
    background-color: white;
}


.forgot-pass{
    text-align: end;
}
.title-login{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(158, 166, 191, 0.787);
}
.image{
    margin-left: 55px;
    margin-top: 20px;
}
.form-login{
    margin-top: 150px;
}
.community{
    width: 500px;
    height: 120px;
    padding: 10px;
    border-radius: 20px;
    margin-left: 70px;
    background-color:rgb(204, 249, 204);

}